.nav-item {
  font-size: 18px;
  color:white;
}

#logout {
  font-size: 18px;
  color: #be1b31;
  float: right;
}

input {
  color: black;
}
Link{
  color:white;
}
body {
  font-family: 'Roboto', sans-serif;
}
body, .button:after {
  background:#010008;
}
.ctn {
  display: block;
  margin: auto;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #FFF;
}
